.button-misCursos {
  background-color: rgb(49, 45, 45) !important;
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.logo-button:hover {
  transform: scale(1.1);
}

.button-misCursos:hover {
  transform: scale(1.1);
}

.button-subscribe:hover {
  transform: scale(1.1);
  background-color: rgb(49, 45, 45) !important;
}

.button-logout {
  font-size: 16px; /* Tamaño del texto */
  padding: 2px 3px; /* Relleno superior e inferior: 10px, relleno izquierdo y derecho: 20px */
}

.list-conteiner {
  font-size: 16px; /* Tamaño del texto */
  padding: 1px 1px;
}

.icon-logout {
  font-size: 10px; /* Tamaño del texto */
  padding: 1px 1px;
}

.button-crear-curso {
  background-color: rgb(49, 45, 45) !important;
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.button-crear-curso:hover {
  transform: scale(1.1);
}

.button-editar-curso {
  background-color: rgb(49, 45, 45) !important;

  margin-right: 20px !important;
  margin-left: 20px !important;
  margin-top: 20px !important;
}

.button-editar-curso:hover {
  transform: scale(1.1);
}

.button-comentar {
  background-color: rgb(49, 45, 45) !important;
  color: white !important;
  margin-right: 20px !important;
  margin-left: 20px !important;
  margin-top: 20px !important;
}

.button-comentar:hover {
  transform: scale(1.1);
}
